.header {
  display: flex;
  padding: 10px;
  border-bottom: 2px solid #ddd;
  background-color: #f5f5f5;
  font-weight: bold;
  justify-content: space-between;
}

.checkbox {
  display: flex;
  align-items: center;
}

input[type='checkbox'] {
  margin-right: 10px;
}
