.row {
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #ddd;
  align-items: center;
}

.selected {
  background-color: #f0f8ff;
}

input[type='checkbox'] {
  margin-right: 10px;
}

.name,
.address {
  flex: 1;
  padding: 5px;
}
